.wrapper-code-display{
    font-family: Andale Mono, Lucida Console, Monaco, fixed, monospace; 
    color: #fff; background-color: #171717;
    font-size: 12px;    line-height: 14px; padding: 5px; 
    overflow: auto; width: 100%; border: 5px solid #343A40;
}