<pre class="wrapper-code-display bg-black rounded-lg mt-5 shadow-md">
    <code style="color:#fff;word-wrap:normal;" >
        <!-- public class Singleton
          {
              // Instancia privada estática
              private static Singleton _instance = null;
              // Constructor privado para evitar que se creen nuevas instancias externamente
              private Singleton()
              {
                  // Cualquier inicialización que necesites puede ir aquí
              }
              // Método estático para acceder a la instancia
              public static Singleton Instance
              {
                  get
                  {
                      if (_instance == null)
                      {
                          _instance = new Singleton();
                      }
                      return _instance;
                  }
              }
              // Ejemplo de método para demostrar
              public void DisplayMessage()
              {
                  Console.WriteLine("¡Hola desde el Singleton!");
              }
          }
          // Usando el Singleton:
          class Program
          {
              static void Main(string[] args)
              {
                  Singleton singleInstance = Singleton.Instance;
                  singleInstance.DisplayMessage();
              }
          } -->
    </code>
</pre>