#wrapper-post{
    min-height: 80vh;
    padding-top: 75px;
    width: 100%;
    background-color: #edf2f4;
}
#post-content{
    width: 60%;
    height: 100%;
    background-color: #fff;
    color: #2b2d42 !important;
}