<app-navbar></app-navbar>
<div id="wrapper-post" class="flex justify-center pb-28">
    <div id="post-content" class="mt-20 flex flex-col justify-center shadow-md px-12 py-24 rounded-3xl 
    text-gray-900 leading-7 text-justify">
        <h1 class="text-5xl mb-3 text-center">{{post.title}}</h1>
        <h5 class="my-5" *ngIf="post.description == ''">{{post.description}}</h5>
        <p class="text-lg leading-8 mt-10">
            {{post.content}}}
        </p>
        
    </div>
</div>
<!-- <app-posts-recomendation></app-posts-recomendation>
<app-newsletter></app-newsletter> -->